.table {
  border-collapse: collapse;
  border: none;
  width: 100%;
}

.tableRowHeader {
  background-color: transparent;
  transition: all 0.25s ease;
  border-radius: 10px;
}

.tableHeader {
  background-color: #f1f1f1;
  padding: 12px;
  font-weight: 500;
  text-align: left;
  font-size: 14px;
  color: #2c3e50;
  cursor: pointer;
}
.tableHeaderCellContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tableHeader:first-child {
  border-top-left-radius: 15px;
}

.tableHeader:last-child {
  border-top-right-radius: 15px;
}

.tableRowItems {
  cursor: auto;
}

.tableRowItems:nth-child(odd) {
  background-color: #f9f9f9;
}

.tableCell {
  padding: 12px;
  font-size: 14px;
  color: grey;
}

.tableControls {
  display: flex;
  flex-direction: row;
}

.tableTitle {
  flex-grow: 1;
  font-family: 'Trocchi', serif;
  font-size: 25px;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
}
.tableSortIcon{
  padding: 0 5px;
}

.tableFilterInput{
  border: none;
  width: fit-content;
  font-size:1; padding:.5em;
  width: 80%;
  border: none;
  padding: 7px 8px 7px 20px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
  background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 3px center;
}

.tableFilterInput::placeholder {
  color: #bbb;
}